<html>

<head>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- /bootstrap -->
    <!-- <script src="hexgridwidget.js"></script> -->
    <script src="{{ url_for('static', filename='js/hexgridwidget.js') }}"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>

    <style type="text/css">
        .hexfield {
            fill: rgba(0, 0, 0, 0.4);
            stroke: rgba(0, 0, 0, 0.0);
            stroke-width: 0;
        }

        .hexfield:focus {
            outline: none;
        }

        .hexfield:hover {
            fill: rgba(230, 230, 230, 0.3);
            stroke: rgba(255, 255, 255, 0);
            stroke-width: 2;
        }

        .hexfield:active {
            fill: black;
            outline: none;
        }

        .hexfield.clicked {
            fill: rgba(0, 0, 0, 0);
        }

        .hexfield.note {
            fill: rgba(255, 217, 0, 0.8);
            stroke: rgba(255, 217, 0, 1);
            stroke-width: 2px;
        }

        .hexfield.note.clicked {
            fill: rgba(255, 217, 0, 0.2);
            stroke: rgba(255, 217, 0, 1);
            stroke-width: 2px;
        }

        .hexfield.partyLocation {
            fill: rgba(0, 255, 0, 0.5) !important;
            /* #barbarzyńcyCSS */
        }

        body {
            background-image: url("{{ url_for('static', filename='large.jpg') }}");
            background-size: 1901px;
            margin: 0 0 0 0;
            background-repeat: no-repeat;
        }

        #container {
            margin-left: 31px;
            margin-top: 46px;
        }
    </style>
</head>

<body>
    <div id="container">
        <script>

            // initialize grid
            $('#container').hexGridWidget(29.63, 41, 25, 'hexfield');

            // handle clicking hexes, toggle color of hex adding "clicked" class
            // $('#container .hexfield').click(function () {
            //     this.classList.toggle('clicked');
            // });

            // right click menu blocking
            $(document).bind("contextmenu", function (event) {
                event.preventDefault();
            });

            // ---------- socket.io stuff ----------
            $(document).ready(function () {
                $('polygon').tooltip({ trigger: 'hover' })
                // sending a connect request to the server.
                var socket = io.connect('http://127.0.0.1:5000');

                // this gets response from server and makes action - in this case appending data.
                socket.on('deploy_hexes', function (msg) {
                    console.log('Deploying already discovered hexes.')
                    // console.log(msg); //this line is needed only for debugging, can be deleted later on
                    //deploy hexes that are already visible
                    $.each(msg, function (k, v) {
                        // console.log('key: ' + k + ', value: ' + v);
                        var who = '#container [hex-row=' + k.split(',')[1] + '][hex-column=' + k.split(',')[0] + ']';
                        $(who).removeClass();
                        $(who).addClass(v['html']);
                        //deploy notes
                        if (v.notes != '') {
                            console.log('Adding note.');
                            $(who).toggleClass('note');
                            $(who).attr('data-original-title', v.notes);
                        }
                    });
                });

                socket.on('display_hex', function (msg) {
                    console.log('Displaying single hex.')
                    console.log('--------------------- msg.notes="' + msg.notes + '"');
                    if (msg.html.includes('partyLocation') == true) {
                        console.log('Setting party location.')
                        $('polygon').removeClass('partyLocation'); // remove class partyLocation from every polygon
                        $(msg.who).addClass(msg.html); // set class partyLocation for new polygon

                    // } else if (msg.notes =*= $(msg.who).attr('data-original-title')) {
                    //     console.log('Note unchanged.')

                    } else if (msg.notes == '' &&  $(msg.who).attr('data-original-title') == '' ) { // if note is not empty
                        console.log('Clearing note.');
                        $(msg.who).removeClass('note'); // set class
                        $(msg.who).attr('data-original-title', ''); // set note

                    } else if (msg.notes != '' &&  $(msg.who).attr('data-original-title') != '' ) { // if note is not empty
                        console.log('Setting note.');
                        $(msg.who).toggleClass(msg.html); // set class
                        $(msg.who).attr('data-original-title', msg.notes); // set note

                    } else {
                        console.log('Regular click.');
                        $(msg.who).toggleClass('clicked');
                    }
                });

                // handle clicking hexes (send log with info of clicked hex)
                $('polygon').on('mousedown',
                    function (e) {
                        switch (e.which) {
                            case 1: // left click
                                this.classList.toggle('clicked');
                                console.log('Left click.');

                                // socketio stuff
                                var elem = $(this).attr('class')
                                console.log({ xy: $(this).attr('hex-column') + ',' + $(this).attr('hex-row'), html: elem });
                                socket.emit('hex_clicked', { xy: $(this).attr('hex-column') + ',' + $(this).attr('hex-row'), html: elem, notes: '' + $(this).attr('data-original-title') });
                                break;
                            case 2: // middle click
                                console.log('Middle click.');
                                $('polygon').removeClass('partyLocation');
                                this.classList.toggle('partyLocation');

                                // socketio stuff
                                var elem = $(this).attr('class')
                                console.log({ xy: $(this).attr('hex-column') + ',' + $(this).attr('hex-row'), html: elem });
                                socket.emit('hex_clicked', { xy: $(this).attr('hex-column') + ',' + $(this).attr('hex-row'), html: elem, notes: '' + $(elem).attr('data-original-title') });
                                return false; //helps overriding default mouseclick behavior
                                break;
                            case 3: // right click
                                console.log('Right click.');
                                // bootstrap modal instead of prompt
                                $("#myModal").modal("show"); //show modal
                                $('#note_input').attr('placeholder', $(this).attr('data-original-title')); // set input field as current note
                                $('#note_input').val($(this).attr('data-original-title')); // setting inputted value as note
                                var ele = '#container [hex-row=' + $(this).attr('hex-row') + '][hex-column=' + $(this).attr('hex-column') + ']'

                                $('#add_note').unbind('click').on('click', function () { // unbind neccessary to not fire event multiple times
                                    console.log('Element clicked: ' + ele);
                                    var user_input = $('#note_input').val();

                                    if (user_input == '') {
                                        console.log('Empty note.')
                                        alert('Notatka nie może być pusta.');
                                        return
                                    }

                                    $(ele).attr('data-original-title', user_input);
                                    $("#myModal").modal("hide");

                                    $(ele).toggleClass('note');
                                    socket.emit('hex_clicked', { xy: $(ele).attr('hex-column') + ',' + $(ele).attr('hex-row'), html: '' + $(ele).attr('class'), notes: '' + $(ele).attr('data-original-title') });
                                });

                                $('#clear').unbind('click').on('click', function () {
                                    console.log('Clearing note.');
                                    $(ele).removeClass('note');
                                    $(ele).attr('data-original-title', '');
                                    $("#myModal").modal("hide");
                                    socket.emit('hex_clicked', { xy: $(ele).attr('hex-column') + ',' + $(ele).attr('hex-row'), html: '' + $(ele).attr('class'), notes: '' });
                                });

                                return false; //helps overriding default mouseclick behavior (?)
                                break;
                        }
                    });
                socket.on('refresh', function () {
                    console.log('Server refresh!')
                    window.location.reload();
                });
            });

        </script>
    </div>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Notatki</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input id="note_input" class="form-control" type="text" placeholder="">
                </div>
                <div class="modal-footer">
                    <button id="add_note" type="button" class="btn btn-primary btn-sm">Dodaj</button>
                    <button id="clear" type="button" class="btn btn-danger btn-sm">Wyczyść</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <br>
    <div class="text-center">
        <input type="button" class="btn btn-primary btn-lg"
            onClick="window.open('notatki','Notatki','width=550,height=300,left=150,top=200,toolbar=0,status=0,location=0,menubar=0');"
            value="Notatki">
    </div>
    <br> -->
    <!-- <div id="nav">
        <button id="hex_sel" onclick="$('#container [hex-row=10][hex-column=10]').click();">Select some hex!</button>
    </div> -->

</body>

</html>